<!-- <div class="app-shell">
  <app-sidebar class="app-sidebar"></app-sidebar>
  <div class="app-content">
    <app-topbar class="app-topbar"></app-topbar>
    <main class="app-main">
      <router-outlet />
    </main>
  </div>
</div> -->

<div [class.app-shell]="showSidebar">
  @if (showSidebar) {
  <app-sidebar class="app-sidebar"></app-sidebar>
  }

  <div [class.app-content]="showSidebar">
    @if (showSidebar) {
    <app-topbar class="app-topbar"></app-topbar>
    }

    <main [class.app-main]="showSidebar">
      <router-outlet />
    </main>
  </div>
</div>