<!-- <div class="app-wrapper">
    <app-header></app-header>
    <main class="app-main">
        <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
</div> -->


<!-- <div *ngIf="router.url === '/'">
    <router-outlet></router-outlet>
</div>
<div *ngIf="router.url !== '/'" class="app-wrapper">
    <app-header></app-header>

    <main class="app-main">
        <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
</div> -->

<div [class.app-wrapper]="!isLoginPage">
    <app-header *ngIf="!isLoginPage"></app-header>

    <main [class.app-main]="!isLoginPage">
        <router-outlet></router-outlet>
    </main>

    <app-footer *ngIf="!isLoginPage"></app-footer>
</div>

<!-- Global Notification Popup -->
<app-notification-popup></app-notification-popup>